    header {
      text-align: center;
      background: url("https://s-media-cache-ak0.pinimg.com/736x/78/69/dc/7869dc8c08fde16ec91ca7f76682271d.jpg");
      width:450px;
      height:370px;
      color: white;
    }
    .nav {
      color: white;
    }
    h1 {
      font-size: 100px;
    }
    img {
      margin: 40px 0px 0px 0px;
      border: 100px purple;
      border-radius: 20px;
    }
    ul {
      padding: 10px;
      background: rgba(0,0,0,0.9);
    }
    li {
      display:inline-block;
      padding: 0px 10px 0px 10px;
    }
    div{
      max-width: 500px;
      padding: 20px;
      margin: 0 auto;
    }
    @media (max-width: 500px) {
      h1 {
        font-size: 70px;
        padding: 5px
        font-family:;
      }
      li {
        padding: 90px;
        display: block;
      }
    }
